@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;600;700&family=Lato:wght@400;700&display=swap');

//Colors
$color-primary: #B99C75;
$color-black: #222222;
$color-white: #fff;


//Fonts
$font-display: 'Exo';
$font-secondary: 'Lato';